    <footer class="ui inverted footer basic segment">
      <div class="ui container">
        <div class="ui stackable three column grid">
          <div class="column">
            <div class="item"><a href="about.html">About</a></div>
            <div class="item"><a href="#">Locations</a></div>
            <div class="item"><a href="#">Latest News</a></div>
            <div class="item"><a href="#">Privacy &amp; Cookies</a></div>
            <div class="item"><a href="#">Terms &amp; Conditions</a></div>
          </div>
          <div class="column">
            <a href="contact.html" class="heading">Contact Us</a>
            <address class="item">
              123 Address Way<br>
              City, State<br>
              Zip Code<br>
              email@email.com<br>
              1-123-456-7890
            </address>
          </div>
          <div class="column">
            <div class="item heading">Get Connected</div>
            <div class="item"><a href="#"><i class="facebook icon"></i>Facebook</a></div>
            <div class="item"><a href="#"><i class="twitter icon"></i>Twitter</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script>
    $( ".sidebar" ).parent().click(function() {
      $( "#mobile-nav .menu" ).slideToggle( "fast", function(){
        if(this.style.display === "none") {
          $("#sandwich-msg").text("More");
        } else {
          $("#sandwich-msg").text("Close");
        }
      } );
    });
    </script>
  </body>
</html>
