  <header>
      <nav>
        <ul>
          <li id="logo_container">
            <a href="/" id="logo">Project<br><span>Hub</span></a>
          </li>
          <li>
            <a href="/profile" class="active">
              <div class="icon_container">
                <i class="user circle icon"></i>
                <div class="icon_text">Profile</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/dashboard">
              <div class="icon_container">
                <i class="dashboard icon"></i>
                <div class="icon_text">Dashboard</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/announcements">
              <div class="icon_container">
                <i class="announcement icon"></i>
                <div class="icon_text">News</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/library">
              <div class="icon_container">
                <i class="archive icon"></i>
                <div class="icon_text">Library</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/calendar">
              <div class="icon_container">
                <i class="calendar icon"></i>
                <div class="icon_text">Calendar</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/info">
              <div class="icon_container">
                <i class="info circle icon"></i>
                <div class="icon_text">Info</div>
              </div>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <div class="portal_logout_container">
              <div>
                Signed in as <span>bob123</span>
              </div>
              <a class="ui mini inverted white button" href="logout/">Log Out</a>
            </div>
          </li>
          <li>
            <a href="#">
              <div>
                <i class="arrow circle left icon"></i>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </header>