<% include ../partials/portal_header %>
      <div class="ui container main" id="content">
        <h1>Announcements-Create New</h1>
        <section>
           <form action="/announcements" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <textarea name="post_body" placeholder="Enter text here"></textarea>
                </div>
                <div class="form-group">
                    <button class="ui mini inverted green button">Submit!</button>
                </div>
            </form>
            <a href="/announcements">Go Back</a>
        </section>
      </div>
<% include ../partials/portal_footer %>