<% include ./partials/header %> 
    <div id="container">
        <% include ./partials/nav_bar %>
        <div class="ui container main" id="login-container">
            <% include ./partials/error_alert %>
            <h1>404</h1>
            <p>Page not found</p>
        </div>
        <div class="clearfooter"></div>
    </div><!--End of #container-->    
<% include ./partials/footer %> 
