<% include ./partials/portal_header %>
      <div class="ui container main" id="content">
        <h1>Announcements</h1>
        <section>
         
        </section>
      </div>
<% include ./partials/portal_footer %>