<% include ./partials/portal_header %>
      <div class="ui container main" id="content">
        <% include ./partials/error_alert %>
        <h1>Dashboard</h1>
        <section>
            Page is Under Construction
        </section>
      </div>
<% include ./partials/portal_footer %>