<% include ./partials/portal_header %>
      <div class="ui container main" id="content">
        <% include ./partials/error_alert %>
        <h1>Dashboard</h1>
        <section>
            <div id="lib_main">
                <div class="receipt-container">
                        <%= foundUser %>
                </div>
            </div>
        </section>
      </div>
<% include ./partials/portal_footer %>  