<% include ./partials/header %> 
  <div id="container">
    <% include ./partials/nav_bar %>
    <% include ./partials/error_alert %>
    <div class="header-img">
      <div class="ui container">
        <img class="ui centered image" id="header-main-img"src="images/tim-marshall-114623-med.jpg">
        <div class="content">
          <h2>Let's build a community</h2>
          <p>Join us in a movement to change the way see our neighborhoods</p>
          <% if(!currentUser){ %>
              <a href="/register" class="ui massive primary button">Register</a>
          <% } else { %>
              <a href="/announcements" class="ui massive primary button">Get Started</a>
          <% } %>
        </div>
      </div>
    </div>
    <div class="ui container main">
        <section>
          <h2>Mission</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id donec ultrices tincidunt arcu non. Mattis pellentesque id nibh tortor id aliquet lectus. Diam volutpat commodo sed egestas egestas. Morbi tristique senectus et netus et malesuada fames ac. </p>
        </section>
        <section class="ui grid">
          <div class="six wide column">
            <img src="images/ashim-d-silva-106275.jpg" alt="Assorted Stuff">
          </div>
          <div class="ten wide column text">
            <div class="description">
              <h2>Borrow</h2>
              <p>
                Eget mauris pharetra et ultrices neque ornare. Imperdiet nulla malesuada pellentesque elit. Urna nec tincidunt praesent semper feugiat nibh sed. Lobortis elementum nibh tellus molestie nunc non blandit. Nisl vel pretium lectus quam id leo. Sapien pellentesque habitant morbi tristique senectus et netus et.
              </p>
            </div>
          </div>
        </section>
        <section class="ui grid">
          <div class="ten wide column text">
            <div class="description">
              <h2>Learn</h2>
              <p>
                Urna condimentum mattis pellentesque id nibh. Sit amet aliquam id diam maecenas ultricies mi eget. Ac tortor dignissim convallis aenean et tortor at risus. Lectus proin nibh nisl condimentum id venenatis. Mauris rhoncus aenean vel elit scelerisque. Donec adipiscing tristique risus nec feugiat. </p>
            </div>
          </div>
          <div class="six wide column">
            <img src="images/monica-melton-467245-med.jpg" alt="Two people sitting at table">
          </div>
        </section>
        <section  class="ui grid">
          <div class="six wide column">
            <img src="images/pexels-photo-515169-med.jpg" alt="People sitting at a table smiling with card on table">
          </div>
          <div class="ten wide column text">
            <div class="description">
              <h2>Connect</h2>
              <p>
                Ultrices eros in cursus turpis massa tincidunt dui. Scelerisque fermentum dui faucibus in ornare. Justo nec ultrices dui sapien eget mi proin sed libero. At tellus at urna condimentum mattis pellentesque id nibh. Tincidunt lobortis feugiat vivamus at augue eget arcu. Ultrices in iaculis nunc sed augue lacus viverra. </p>
            </div>
          </div>
        </section>
    </div>
    <div class="clearfooter"></div>
  </div>
<% include ./partials/footer %>