<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Project Hub Portal</title>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
    <link href="portal_flex.css" rel="stylesheet" type="text/css" />
    <script src="https://use.fontawesome.com/d7de585d6e.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>-->
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li id="logo_container">
            <a href="/" id="logo">Project<br><span>Hub</span></a>
          </li>
          <li>
            <a href="/profile" class="active">
              <div class="icon_container">
                <i class="user circle icon"></i>
                <div class="icon_text">Profile</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/dashboard">
              <div class="icon_container">
                <i class="dashboard icon"></i>
                <div class="icon_text">Dashboard</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/annoucements">
              <div class="icon_container">
                <i class="announcement icon"></i>
                <div class="icon_text">News</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/library">
              <div class="icon_container">
                <i class="archive icon"></i>
                <div class="icon_text">Library</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/calendar">
              <div class="icon_container">
                <i class="calendar icon"></i>
                <div class="icon_text">Calendar</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/info">
              <div class="icon_container">
                <i class="info circle icon"></i>
                <div class="icon_text">Info</div>
              </div>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <div class="portal_logout_container">
              <div>
                Signed in as <span>bob123</span>
              </div>
              <a class="ui mini inverted white button" href="logout/">Log Out</a>
            </div>
          </li>
          <li>
            <a href="#">
              <div>
                <i class="arrow circle left icon"></i>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="ui container main" id="content">
        <h1>Profile</h1>
        <section>
          <div class="profile_items">
            <h3>Username:</h3>
            <p class="profile_data">bob123</p>
          </div>
          <div class="profile_items">
            <h3>Profile Picture:</h3>
            <img src="https://i.imgur.com/Q5FOdtp.jpg" class="profile_image"/>
          </div>
          <div class="profile_items">
            <h3>Change profile picture</h3>
            <form>
              <label>Enter image URL: <input type="text" name="img_url"></label>
              <input type="submit">
            </form>
          </div>
          <div class="profile_items">
            <h3>Location(s):</h3>
            <p class="profile_data">San Francisco</p>
          </div>
          <div class="profile_items">
            <h3>Default Location:</h3>
            <p class="profile_data">San Francisco</p>
          </div>
          <div class="profile_items">
            <h3>Add Location (please visit branch to recieve code)</h3>
            <form>
              <label>Enter Site Code: <input type="text" name="site_code"></label>
              <input type="submit">
            </form>
          </div>
          <div class="profile_items">
            <h3>Change Default Location</h3>
            <form>
              <label>Select Site Name:
                <select name="change_site" id="change_site">
                  <option value="san_fransisco">San Francisco</option>
                  <option value="chicago">Chicago</option>
                  <option value="new_york">New York</option>
                  <option value="seattle">Seattle</option>
                </select>
              </label>
              <input type="submit">
            </form>
          </div>
          <div>
            Note: the following only applies to the default location
          </div>
          <div class="profile_items">
            <h3>Privileges:</h3>
            <p class="profile_data">Community Member</p>
          </div>
        </section>
      </div>
      <footer class="ui inverted footer basic segment">
        <div class="ui container">
          <div class="ui stackable three column grid">
            <div class="column">
              <div class="item"><a href="about.html">About</a></div>
              <div class="item"><a href="#">Locations</a></div>
              <div class="item"><a href="#">Latest News</a></div>
              <div class="item"><a href="#">Privacy &amp; Cookies</a></div>
              <div class="item"><a href="#">Terms &amp; Conditions</a></div>
            </div>
            <div class="column">
              <a href="contact.html" class="heading">Contact Us</a>
              <address class="item">
                123 Address Way<br>
                City, State<br>
                Zip Code<br>
                email@email.com<br>
                1-123-456-7890
              </address>
            </div>
            <div class="column">
              <div class="item heading">Get Connected</div>
              <div class="item"><a href="#"><i class="facebook icon"></i>Facebook</a></div>
              <div class="item"><a href="#"><i class="twitter icon"></i>Twitter</a></div>
            </div>
          </div>
        </div>
      </footer>
    </main>
    <script>
    $( ".sidebar" ).parent().click(function() {
      $( "#mobile-nav .menu" ).slideToggle( "fast", function(){
        if(this.style.display === "none") {
          $("#sandwich-msg").text("More");
        } else {
          $("#sandwich-msg").text("Close");
        }
      } );
    });
    </script>
  </body>
</html>
